<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap.min.css">
</head>

<style>
    .completed {
        text-decoration: line-through
    }
</style>

<body>

    <div class="col-md-9 post">

        <h1 class="mt-0 text-muted">Todo 範例製作</h1>

        <div id="app">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span id="basic-addon1" class="input-group-text">待辦事項</span></div>
                <input type="text" placeholder="準備要做的任務" class="form-control" v-model="newTodo" @keyup.enter='addTodo'>
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary" @click="addTodo">新增</button></div>
            </div>
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item"><a href="#" class="nav-link" :class="{'active':visibility=='all'}"
                                @click="visibility='all'">全部</a></li>
                        <li class="nav-item"><a href="#" class="nav-link" :class="{'active':visibility=='active'}"
                                @click="visibility='active'">進行中</a></li>
                        <li class="nav-item"><a href="#" class="nav-link" :class="{'active':visibility=='completed'}"
                                @click="visibility='completed'">已完成</a></li>
                    </ul>
                </div>
                <ul class="list-group list-group-flush text-left">
                    <li class="list-group-item" v-for="(item,key) in filteredTodos" @dblclick="editTodo(item)">
                        <div class="d-flex" v-if="item.id !== cacheTodo.id">
                            <div class="form-check">
                                <input type="checkbox" :id="item.id" class="form-check-input" v-model="item.completed">
                                <label :for="item.id" class="form-check-label" :class="{'completed' : item.completed}">
                                    {{item.title}}
                                </label>
                            </div>
                            <button type="button" aria-label="Close" class="close ml-auto" @click="removeTodo(item)">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <input type="text" class="form-control" v-model="cacheTitle" @keyup.esc="cancelEdit()"
                            @keyup.enter="doneEdit(item),undone" v-if="item.id === cacheTodo.id">
                    </li>
                </ul>
                <div class="card-footer d-flex justify-content-between"><span>還有 {{undone}} 筆任務未完成</span>
                    <a href="#" @click="removeAll">清除所有任務</a>
                </div>
            </div>
        </div>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    newTodo: '',
                    todos: [
                        {
                            id: '123',
                            title: '你好',
                            completed: false
                        }
                    ],
                    cacheTodo: {},
                    cacheTitle: {},
                    visibility: 'all'
                },
                methods: {
                    addTodo: function () {
                        var value = this.newTodo.trim();
                        var timestamp = Math.floor(Date.now());
                        //floor轉整數
                        console.log(value, timestamp);
                        if (!value) {
                            return;
                        }
                        this.todos.push({
                            id: timestamp,
                            title: value,
                            computed: false
                        });
                        this.newTodo = '';
                    },
                    removeTodo: function (todo) {
                        var vm = this;
                        var newIndex = vm.todos.findIndex(function (item, key) {
                            return todo.id === item.id;
                        })
                        this.todos.splice(newIndex, 1);
                    },
                    editTodo: function (item) {
                        this.cacheTodo = item;
                        this.cacheTitle = item.title;
                    },
                    cancelEdit: function () {
                        this.cacheTodo = {};
                    },
                    doneEdit: function (item) {
                        item.title = this.cacheTitle;
                        this.cacheTitle = '';
                        this.cacheTodo = {};
                    },
                    removeAll: function () {
                        this.todos.splice( 0 , this.todos.length)
                    }
                },
                computed: {
                    filteredTodos: function () {
                        if (this.visibility == 'all') {
                            return this.todos;
                        } else if (this.visibility == 'active') {
                            var newTodos = [];
                            this.todos.forEach(function (item) {
                                if (!item.completed) {
                                    newTodos.push(item);
                                }
                            })
                            return newTodos;
                        } else if (this.visibility == 'completed') {
                            var newTodos = [];
                            this.todos.forEach(function (item) {
                                if (item.completed) {
                                    newTodos.push(item);
                                }
                            })
                            return newTodos;
                        }
                        return [];
                    },
                    undone: function () {
                        var x = 0;
                        this.todos.forEach(function (item) {
                            if (!item.completed) {
                                x = x + 1;
                            }
                        })
                        return x;
                    }

                }
            });
        </script>
    </div>




</body>

</html>